body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    height: 60px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container div {
    width: 20%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-container div:hover {
    transform: scale(1.05);
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    align-self: flex-start;
}

.image-container a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    align-self: flex-end;
}

.image-container a:hover {
    text-decoration: underline;
}
