body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    margin: 0;
    padding: 0;
    color: #333;
}


main {
    padding: 20px;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container div {
    width: 20%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-container div:hover {
    transform: scale(1.05);
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    align-self: flex-start;
}

.image-container a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    align-self: flex-end;
}

.image-container a:hover {
    text-decoration: underline;
}
