<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Finder API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <div><h1>Welcome to the Image Finder API</h1></div>
    <p>Search for images using the form below:</p>
    <form action="/search" method="post">
        <input type="text" name="q" placeholder="Search images..." required>
        <button type="submit">Search</button>
        
        <label for="num">Number of images:</label>
        <select name="num" id="num">
            <option value="30">Default (30)</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="50">50</option>
        </select>
    </form>
</body>
</html>