<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Finder API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/result.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    
    <main>
        <h4>Image Search Results for: <b>{{ query }}</b></h4>
        <form id='sort'>
            <input type="hidden" name="q" value="{{ query }}">
            <input type="hidden" name="num" value="{{ num }}">
            <label for="key">Sort by</label>
            <select name="key" id='key'>
                <option value='date'>Date</option>
                <option value="width">Width</option>
                <option value="height">Height</option>
                <option value='title'>Title</option>
            </select>
            <button type="submit">Sort</button>
        </form>
        
        <div class="image-container">
            {% if images|length == 0 %}
            <h3>No images found for the query</h3>
            {% else %}
                {% for group in images %}
                    <div class='gr' style="display: none;">
                        {% for image in group %}
                        <div class="image-card">
                            <img src="{{ image.image_link }}" alt="Image could not load"><br>
                            <a href="{{ image.context_link }}">{{ image.title }}</a>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="pagination-controls">
            <button id="prevPage" onclick="prevPage()">Previous</button>
            <span id="page">Page <span class='current-page'></span></span>
            <button id="nextPage" onclick="nextPage()">Next</button>
        </div>
        
        <div class="params">
            <h5>Search Parameters:</h5>
            <ul>
                <li>Query: <b>{{ query }}</b></li>
                <li>Number of images: <b>{{ num }}</b></li>
            </ul>
        </div>
        
    </main>

    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sort.js') }}"></script>
</body>
</html>
