<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Finder API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/result.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    
    <main>
        <h4>Image Search Results for: <b>{{ query }}</b></h4>
        
        <div class="image-container">
            {% for image in images %}
                <div class='gr'>
                    <div class="image-card">
                        <img src="{{ image.image_link }}" alt="Image could not load"><br>
                        <a href="{{ image.context_link }}">{{ image.title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination-controls">
            <button id="prevPage" onclick="prevPage()">Previous</button>
            <span id="page">Page <span class='current-page'></span></span>
            <button id="nextPage" onclick="nextPage()">Next</button>
        </div>
        
        <div class="params">
            <h5>Search Parameters:</h5>
            <ul>
                <li>Query: <b>{{ query }}</b></li>
                <li>Number of images: <b>{{ num }}</b></li>
            </ul>
        </div>
        
    </main>

    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
</body>
</html>